@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
section{
    width: 100%;
}
.container{
    max-width: 870px;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.container .mybox{
    background-color: transparent;
    border: 2px gray ;
}
.box{
    background-image: url(./image.jpg);
    width: 300px;
    height: 230px;
    background-position: center;
    background-size: cover;
    border: 2px gray solid;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
    display: flex;
}
.box span{
    border: 2px rgba(0, 0, 0, 0.685) solid;
    background-color: rgba(0, 0, 0, 0.715);
    border-radius: 5px;
    color: white;
    bottom: 5px;
    right: 5px;
    position: absolute;
    opacity: 1;
}
.box:hover span{
    opacity: 0;
}
.sub-box ul .icon{
    border: 2px gray solid;
    border-radius: 20px;
    padding: 4px;
    background-color: black;
    color: white;
    
}
.sub-box ul a{
    font-weight: 500px bold;
    color: black;
    font-family: 'Roboto', sans-serif;
   
    
}



